.Container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Calculator {
    display: flex;
    width: 185px;
    flex-direction: column;
    flex-wrap: wrap;
}

.Lcd {
    font-family: 'LCD14', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2.0em;
    text-align: right;
    border: 5px ridge burlywood;
    padding: 2px;
    margin: 3px;
}

.NumPad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Button {
    font-size: 1.3em;
    height: 30px;
    width: 30px;
    margin: 2px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.Button-Equals {
    font-size: 1.5em;
    padding: 2px;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    background-color: lightgreen;
    cursor: pointer;
}